body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container::after,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    margin: 0 0 18px;
    font-size: 36px;
    color: #34404b;
    text-transform: uppercase;
}

p{
    margin: 0 0 15px;
    font-size: 16px;
    color: #495662;
}

.contact-icon{
    margin-right: 10px;
}

.logo{
    margin-right: 85px;
}

.bar-pannier{
    margin: 0 -15px;
    padding: 0;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.bar-pannier li{
    padding: 0 15px;
}

.bar-pannier a{
    display: inline-block;
    vertical-align:top;
}

.icon-pannier{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprite-bar.png);
    position: relative;
}

.icon-pannier.icon-bar-search{
    background-position: 0 0;
}

.icon-pannier.icon-bar-search:hover{
    background-position: 0 21px;
}

.icon-pannier.icon-bar-profile{
    width: 22px;
    height: 21px;
    background-position: -18px 0;
}

.icon-pannier.icon-bar-profile:hover{
    background-position: -18px 21px;
}

.icon-pannier.icon-bar-cart{
    width: 24px;
    height: 19px;
    background-position: -40px 0;
}

.icon-pannier.icon-bar-cart:before{
    content: '5';
    display: inline-block;
    vertical-align:top;
    position: relative;
    top: -19px;
    width: 18px;
    height: 18px;
    background-color: #34404b;
    border-radius: 8px;
    color: #fff;
    font-size: 10px;
    padding-top: 4px;
}

.icon-pannier.icon-bar-cart:hover{
    background-position: -40px 21px;
}

.title-light{
    color: #ff5912;
}

.product-list-more{
    margin-bottom: 50px;
    max-width: 100%;
}

a.product-more{
    padding: 20px 0;
    display: block;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
}

a.product-more:hover{
    opacity: .65;
}

.open-more{
    display: inline-block;
    vertical-align: middle;
    margin: 0 1px;
    width: 8px;
    height: 8px;
    background-color: #ff5912;
    border-radius: 4px;
}

.sale-items{
    padding: 13px 55px 12px 90px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(52, 64, 75, .05);
}

.sale-decor{
    position: relative;
}

.sale-decor:before{
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    width: 52px;
    height: 62px;
    background-color: #ff9060;
    transform: rotate(-45deg);
    z-index: 1;
}

.sale-decor:after{
    content: '';
    position: absolute;
    left: -12px;
    bottom: -15px;
    width: 52px;
    height: 62px;
    background-color: #ff5912;
    transform: rotate(45deg);
    z-index: 2;
}

.sale-discount{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    font-size: 12px;
    font-style: italic;
    color: #fff;
    z-index: 3;
}

.sale-bold{
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.sale-title h3{
    margin: 0 0 7px;
    font-size: 22px;
    font-weight: bold;
    color: #34404b;
    text-transform: uppercase;
}

.sale-center{
    border-right: 1px solid #f5f5f6;
    padding-right: 45px;
}

.sale-body{
    margin-top: 10px;
}

.sale-description p{
    font-size: 12px;
}

.sale-price-list{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-items: baseline;
    align-items: baseline;
}

.sale-cart{
    margin-right: 25px;
}

.price{
    font-size: 32px;
    font-weight: bold;
    color: #ff5912;
}

.sale-pin{
    font-size: 22px;
}

.news-subscription{
    padding: 30px 40px 30px 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    background-color: #fff;
}

.news-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.news-title{
    margin-right: 25px;
}

.news-title h3{
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: #ff5912;
    text-transform: uppercase;
}

.news-description p{
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

.newsletter-form{
}

@media only screen and (max-width: 768px){
    .logo{
        margin-right: 20px;
    }

    .sale-left{
        margin-bottom: 25px;
    }

    .sale-center{
        border-right: none;
        padding-right: 0;
    }

    .news-subscription{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        align-items: center;
    }

    .news-left{
        margin-bottom: 30px;
        flex-direction: column;
    }

    .news-title{
        margin: 0;
    }

    .news-description{
        text-align: center;
    }
}