.form {}
.form-group {}
.form-label {}
.form-control {}
.form-chekbox {}
.form-radio {}

textarea {
	resize: vertical;
}

/*form-subscription*/

fieldset{
  padding: 0;
  border: none;
}

.form-group{
  margin-right: 90px;
  margin-bottom: 20px;
  display: inline-block;
  border: none;
  position: relative;
}

.form-email{
  padding: 15px 35px;
  padding-left: 30px;
  font-size: 14px;
  font-style: italic;
  color: #7c8791;
  border: none;
}

.form-group-button{
  display: inline-block;
}

.icon-email{
  position: absolute;
  top: 17px;
  left: 3px;
}

@media only screen and (max-width: 768px){
  .form-group{
    margin-right: 0;
    display: block;
  }

  .form-group-button{
    display: block;
    text-align: center;
  }

}