.section-header {
	padding: 25px 0 5px;
	border-bottom: 1px solid #e6e8eb;
}
.section-body {
	padding: 40px 0;
}

.contact-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.contact-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 -10px;
}

.contact-email,
.contact-phone{
	padding: 0 10px;
	font-size: 12px;
}

.social-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.section-navigation{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.section-panel{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.section-bar{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.section-arrivals .section-header{
	padding: 95px 0 0;
	border: none;
}

.section-title{
	padding-top: 20px;
	text-align: center;
}

.section-arrivals .section-body{
	padding-top: 66px;
}

@media only screen and (max-width: 768px){
	.section-header{
		display: none;
	}

	.section-body{
		padding: 10px 0;
	}

	.section-panel{
		-webkit-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		-o-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}

	.navbar{
		margin-right: 30px;
	}

	.section-arrivals .section-header{
		padding: 25px 0 0;
	}

	.section-arrivals .section-body{
		padding: 15px 0 0;
	}
}

@media only screen and (max-width: 375px){
	.section-header{
		padding-top: 10px;
	}

	.contact-box{
		flex-direction: column;
	}
}