.section-header {
	padding: 25px 0 5px;
	border-bottom: 1px solid #e6e8eb;
}
.section-body {
	padding: 40px 0;
}

.contact-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.contact-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 -10px;
}

.contact-email,
.contact-phone{
	padding: 0 10px;
	font-size: 12px;
}

.social-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.section-navigation{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.section-panel{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.section-bar{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.section-arrivals .section-header{
	padding: 95px 0 0;
	border: none;
}

.section-title{
	padding-top: 20px;
	text-align: center;
}

.section-arrivals .section-body{
	padding-top: 66px;
}

.section-sale-banner{
	padding-top: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
}

.section-sale{
	margin-bottom: 15px;
    display: inline-block;
    vertical-align:top;
    width: 670px;
}

.section-banner{
	margin-bottom: 15px;
	display: inline-block;
	vertical-align:top;
	width: 470px;
}

@media only screen and (max-width: 1024px){
	.section-sale-banner{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width: 768px){
	.section-header{
		display: none;
	}

	.section-body{
		padding: 10px 0;
	}

	.section-panel{
		-webkit-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		-o-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}

	.navbar{
		margin-right: 30px;
	}

	.section-arrivals .section-header{
		padding: 25px 0 0;
	}

	.section-arrivals .section-body{
		padding: 15px 0 0;
	}

	.section-sale{
		display: block;
		width: 100%;
	}

	.sale-items{
		padding-left: 0;
		padding-right: 0;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}

	.section-banner{
		display: block;
	}
}

@media only screen and (max-width: 375px){
	.section-header{
		padding-top: 10px;
	}

	.contact-box{
		flex-direction: column;
	}
}