@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    top: 0;
    left: 380px;
    bottom: 0;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: auto;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    margin: 10px 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    display: block;

    width: 10px;
    height: 17px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    background-color: #fff;
}

.slick-dots li.slick-active button{
  height: 35px;
  background-color: #ff5912;
}

@media only screen and (max-width: 1762px) {
  .slick-dots{
    left: 290px;
  }
}

@media only screen and (max-width: 1580px) {
  .slick-dots{
    left: 200px;
  }
}

@media only screen and (max-width: 1400px) {
  .slick-dots{
    left: 110px;
  }
}

@media only screen and (max-width: 1225px) {
  .slick-dots{
    left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .bxslider-title h1 {
    font-size: 40px;
  }
  .bxslider-info {
    min-height: 400px;
  }
  .bxslider-block {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .bxslider-title h1 {
    font-size: 30px;
  }
  .bxslider-info {
    min-height: 300px;
  }
}

@media only screen and (max-width: 540px) {
  .bxslider-title h1 {
    margin: 0 0 10px;
    font-size: 20px;
  }
  .bxslider-info {
    min-height: 200px;
  }
  .bxslider-block {
    margin-bottom: 10px;
  }
  .bxslider-description p {
    font-size: 16px;
  }
  .bxslider-content p {
    font-size: 14px;
  }
  .bxslider-price p {
    font-size: 16px;
  }
  .bxslider-card-order a {
    font-size: 16px;
  }
  .bxslider-description p, .bxslider-content p {
    margin-bottom: 10px;
  }
  .bxslider-price p, .bxslider-card-order a {
    font-size: 13px;
  }
  .bxslider-card-order .icon-pannier.icon-bar-cart {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .bxslider-info {
    min-height: 100px;
  }
  .bxslider-title h1 {
    font-size: 16px;
  }
  .bxslider-description p {
    font-size: 12px;
  }
  .bxslider-content p {
    font-size: 12px;
  }
  .bxslider-price p {
    font-size: 12px;
  }
  .bxslider-card-order a {
    font-size: 12px;
  }
}
