.slider-for{
  margin-bottom: 65px;
}

.slider-image{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.slider-item,
.slider-nav-item{
  outline: none;
}

.slider-nav-item{
  margin: 0 7.5px 10px;
  width: auto !important;
  max-width: 100%;
}

.slider-nav-image{
  position: relative;
}

.slider-nav-image:hover .slider-hover{
  display: block;
  cursor: pointer;
}

.slider-nav-image img{
  cursor: pointer;
}

.slider-hover{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 89, 18, .3);
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.bxslider-image{
}

.bxslider-image img{
    -webkit-background-size: cover;
    background-size: cover;
    width:100%;
}

.bxslider-body{
    position: relative;
}

.bxslider-section{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.bxslider-info{
     margin-left: 99px;
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: flex;
     flex-direction: column;
     justify-content: center;
     min-height: 650px;
}

.bxslider-block{
     margin-bottom: 60px;
}

.bxslider-title h1{
    margin: 0 0 25px;
    font-size: 52px;
    color: #ff5912;
    text-transform: uppercase;
}

.bxslider-description p {
    font-size: 18px;
    color: #3c4751;
    font-weight: 600;
}

.bxslider-price-cart{
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: flex;
}

.bxslider-price p{
     margin-right: 30px;
     font-size: 18px;
     color: #34404b;
}

.bxslider-card-order a{
     display: inline-block;
     vertical-align:top;
     text-decoration: none;
     font-size: 18px;
     color: #ff5912;
}

.bxslider-card-order a:hover{
     color: #802d09;
}

.bxslider-card-order .icon-pannier.icon-bar-cart:before{
     content: '';
     width: 0;
     height: 0;
}